@font-face {
  font-family: 'mrchub-icon-pack';
  src:  url('fonts/mrchub-icon-pack.eot?749hnt');
  src:  url('fonts/mrchub-icon-pack.eot?749hnt#iefix') format('embedded-opentype'),
    url('fonts/mrchub-icon-pack.ttf?749hnt') format('truetype'),
    url('fonts/mrchub-icon-pack.woff?749hnt') format('woff'),
    url('fonts/mrchub-icon-pack.svg?749hnt#mrchub-icon-pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-mrchub-"], [class*=" icon-mrchub-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mrchub-icon-pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mrchub-down-chevron:before {
  content: "\e91f";
}
.icon-mrchub-left-chevron:before {
  content: "\e920";
}
.icon-mrchub-right-chevron:before {
  content: "\e921";
}
.icon-mrchub-up-chevron:before {
  content: "\e922";
}
.icon-mrchub-building:before {
  content: "\e923";
}
.icon-mrchub-handshake:before {
  content: "\e90a";
}
.icon-mrchub-list:before {
  content: "\e90b";
}
.icon-mrchub-settings:before {
  content: "\e924";
}
.icon-mrchub-settings-3:before {
  content: "\e928";
}
.icon-mrchub-speech-bubbles:before {
  content: "\e953";
}
.icon-mrchub-transfer-1:before {
  content: "\e90c";
}
.icon-mrchub-transfer-2:before {
  content: "\e90d";
}
.icon-mrchub-user2:before {
  content: "\e90e";
}
.icon-mrchub-user-1:before {
  content: "\e90f";
}
.icon-mrchub-user-2:before {
  content: "\e910";
}
.icon-mrchub-user-32:before {
  content: "\e911";
}
.icon-mrchub-user-4:before {
  content: "\e912";
}
.icon-mrchub-user-10:before {
  content: "\e91a";
}
.icon-mrchub-user-11:before {
  content: "\e913";
}
.icon-mrchub-user-12:before {
  content: "\e91b";
}
.icon-mrchub-user-13:before {
  content: "\e914";
}
.icon-mrchub-users-2:before {
  content: "\e903";
}
.icon-mrchub-notification-1:before {
  content: "\e94a";
}
.icon-mrchub-attach-1:before {
  content: "\e94b";
}
.icon-mrchub-controls-4:before {
  content: "\e91e";
}
.icon-mrchub-database:before {
  content: "\e929";
}
.icon-mrchub-database-1:before {
  content: "\e92a";
}
.icon-mrchub-database-2:before {
  content: "\e92b";
}
.icon-mrchub-dislike:before {
  content: "\e900";
}
.icon-mrchub-edit:before {
  content: "\e901";
}
.icon-mrchub-home-1:before {
  content: "\e94c";
}
.icon-mrchub-id-card-3:before {
  content: "\e915";
}
.icon-mrchub-internet:before {
  content: "\e92c";
}
.icon-mrchub-like:before {
  content: "\e905";
}
.icon-mrchub-list-1:before {
  content: "\e916";
}
.icon-mrchub-locked-6:before {
  content: "\e906";
}
.icon-mrchub-map-location-1:before {
  content: "\e94d";
}
.icon-mrchub-live-1:before {
  content: "\e94e";
}
.icon-mrchub-menu-4:before {
  content: "\e907";
}
.icon-mrchub-live-2:before {
  content: "\e94f";
}
.icon-mrchub-more:before {
  content: "\e91c";
}
.icon-mrchub-more-1:before {
  content: "\e908";
}
.icon-mrchub-multiply:before {
  content: "\e902";
}
.icon-mrchub-news-1:before {
  content: "\e950";
}
.icon-mrchub-photo-camera:before {
  content: "\e91d";
}
.icon-mrchub-search:before {
  content: "\e92e";
}
.icon-mrchub-search-1:before {
  content: "\e92f";
}
.icon-mrchub-server-3:before {
  content: "\e92d";
}
.icon-mrchub-settings-5:before {
  content: "\e955";
}
.icon-mrchub-star-1:before {
  content: "\e951";
}
.icon-mrchub-switch-5:before {
  content: "\e957";
}
.icon-mrchub-unlocked:before {
  content: "\e909";
}
.icon-mrchub-user:before {
  content: "\e917";
}
.icon-mrchub-user-3:before {
  content: "\e918";
}
.icon-mrchub-users-1:before {
  content: "\e904";
}
.icon-mrchub-graph:before {
  content: "\e958";
}
.icon-mrchub-graph-1:before {
  content: "\e959";
}
.icon-mrchub-graph-2:before {
  content: "\e95a";
}
.icon-mrchub-chart-1:before {
  content: "\e952";
}
.icon-mrchub-pie-chart-2:before {
  content: "\e95b";
}
.icon-mrchub-pie-chart-5:before {
  content: "\e95c";
}
.icon-mrchub-speech-bubble-2:before {
  content: "\e919";
}
.icon-mrchub-grid-inline1:before {
  content: "\e93e";
}
.icon-mrchub-grid-ingrid1:before {
  content: "\e93f";
}
.icon-mrchub-close1:before {
  content: "\e925";
}
.icon-mrchub-close2:before {
  content: "\e926";
}
.icon-mrchub-close3:before {
  content: "\e927";
}

