{% extends "layout.html" %}

{% block content %}

<!-- LOADER -->
<div class="loader-bg">
    <div class="progress-new rounder">
        <div class="progress-circle-indeterminate progress-circle-complete"></div>
    </div>
</div>
<!-- // LOADER -->

<div class="register-container full-height">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">



                {% if errmsg %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for err in errmsg %}
                        <li>{{ err }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if okmsg %}
                <div class="alert alert-success" role="alert"><strong>{{okmsg}}</strong></div>
                {% endif %}

                <div class="row body-bg">

                    <div class="col-md-12 text-center m-b-10">
                        <a class="brand-text" href="./login">
                            <span class="brand-text--bg">WBC</span>
                            <span class="brand-text--postfix">demo</span>
                        </a>

                    </div>

                    <form id="form-register" class="p-t-15" role="form" method="post" action="/password-reset">

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p class="text-center lined __reg "><span>Password reset</span></p>
                            </div>
                        </div>
                        {% if showMode == 'email' %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Email</label>
                                    <input type="email" name="email" placeholder="We will send a link to change your password" value="{{formdata.email}}"
                                    class="form-control" required>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>New password</label>
                                    <input type="password" name="password" placeholder="Minimum 4 characters required" value=""
                                    class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Repeat password</label>
                                    <input type="password" name="password_repeat" placeholder="Minimum 4 characters required" value=""
                                    class="form-control" required>
                                    <input type="hidden" name="code" value="{{formdata.code}}">
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <!-- START Form Control-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 m-t-10">
                                <button class="btn btn-primary btn-cons " type="submit">Reset password</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right m-t-10">
                                <a href="/login" class="btn btn-inversed">Cancel</a>
                            </div>
                        </div>
                        <!-- END Form Control-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="register-layer"></div>
<!-- END OVERLAY -->
{% endblock content %}